@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: 0 !important;
    box-shadow: 0 !important;
}

body {
    background: rgb(68, 100, 173);
    background: linear-gradient(
            100deg,
            rgba(68, 100, 173, 1),
            rgba(74, 21, 110, 1)
    );
    color: white;
    min-height: 100vh;
    margin-bottom: 2rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
